{% extends 'base.html.twig' %}

{% block title %}Categorias index{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Categorias index</h1>
            <ol class="breadcrumb">
                <li><a href="">Inicio </a></li>/
                <li><a href="">Categorias </a></li>/
                <li class="active">Listado de Categorias</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <a href="{{ path('categorias_new') }}" class="btn btn-primary btn-success"><span class="glyphicon glyphicon-plus"></span> Nueva</a>
                <br>
            </div>
            <div><span class="input-group-addon">
                <i class="glyphicon glyphicon-search">   </i>
              </span></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
              </span>
              <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Búsqueda" title="Type in a name">
          </div>
          <table class="table table-bordered  table-hover table-striped" id="myTable" width="100%" name="myTable">
            <thead>
                <tr>
                    <th data-filterable="false">Nro</th>
                    <th data-breakpoints="xs sm">Código</th>
                    <th data-breakpoints="xs sm">Nombre</th>
                    <th data-breakpoints="xs sm">Descripción</th>
                    <th data-breakpoints="xs sm">Activo</th>
                    <th data-breakpoints="xs sm">actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Ciclo para mostrar los datos obtenidos -->
                {% for categoria in categorias %}
                <tr>
                    <td>{{ categoria.id }}</td>
                    <td>{{ categoria.codigo }}</td>
                    <td>{{ categoria.nombre }}</td>
                    <td>{{ categoria.descripcion }}</td>
                    <td>{{ categoria.activo ? 'Yes' : 'No' }}</td>
                    <td>
                        <!-- Botones de acción -->
                        <a href="{{ path('categorias_show', {'id': categoria.id}) }}" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span> Ver</a>
                        <a href="{{ path('categorias_edit', {'id': categoria.id}) }}" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
                        <!-- <a href="{{ path('categorias_show', {'id': categoria.id}) }}">show</a> -->
                        <!-- <a href="{{ path('categorias_edit', {'id': categoria.id}) }}">edit</a> -->
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
  function myFunction() {
    // Declare variables 
    var input, filter, table, tr, td, i, j, visible;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      visible = false;
      /* Obtenemos todas las celdas de la fila, no sólo la primera */
      td = tr[i].getElementsByTagName("td");
      for (j = 0; j < td.length; j++) {
        if (td[j] && td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
          visible = true;
      }
  }
  if (visible === true) {
    tr[i].style.display = "";
} else {
    tr[i].style.display = "none";
}
}
}
</script>
{% endblock %}
