{% extends 'base.html.twig' %}

{% block title %}Categorias{% endblock %}

{% block body %}
<div class="container">
  <!-- Titulo y Menu -->
  <div class="row">
    <div class="col-md-12">
      <h1>Ver Categorias</h1>
      <ol class="breadcrumb">
        <li><a href="">Inicio </a></li>/
        <li><a href="{{ path('categorias_index') }}">Categorias </a></li>/
        <li class="active">Listado de Categorias</li>
      </ol>
    </div>
  </div>
  <!-- editar -->
  <div class="row">
    <div class="col-md-11">
      <span></span>
    </div>
    <div class="col-md-1">
      <a href="{{ path('categorias_edit', {'id': categoria.id}) }}" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
    </div>
  </div>
  <!-- Formulario -->
  <!-- Numero -->
  <div class="row">
    <div class="col-md-4">
      <label for="Nombre">Código:</label>
    </div>
    <div class="col-md-8">
      <label for="Nombre">{{ categoria.codigo }}</label>
      <span class="help-block" id="error"></span>
    </div>
  </div>
  <!-- Nombre -->
  <div class="row">
    <div class="col-md-4">
      <label for="Nombre">Nombre:</label>
    </div>
    <div class="col-md-8">
      <label for="Nombre">{{ categoria.nombre }}</label>
    </div>
  </div>
  <!-- Descripción -->
  <div class="row">
    <div class="col-md-4">
      <label for="Nombre">Descripción:</label>
    </div>
    <div class="col-md-8">
      <label for="Nombre">{{ categoria.descripcion }}</label>
    </div>
  </div>
  <!-- Activo -->
  <div class="row">
    <div class="col-md-4">
      <label for="Nombre">Activo:</label>
    </div>
    <div class="col-md-8">
      <label for="Nombre">{{ categoria.activo ? 'Yes' : 'No' }}</label>
    </div>
  </div>
  <!-- Botones -->
  <div class="row">
    <div class="col-md-8"> 
      {{ include('categorias/_delete_form.html.twig') }}
    </div>
  </div>
</div>
{% endblock %}
