{% extends 'base.html.twig' %}

{% block title %}Productos index{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Productos</h1>
            <ol class="breadcrumb">
                <li><a href="">Inicio </a></li>/
                <li><a href="">Productos </a></li>/
                <li class="active">Listado de Productos</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <a href="{{ path('productos_new') }}" class="btn btn-primary btn-success"><span class="glyphicon glyphicon-plus"></span> Nuevo</a>
                <br>
            </div>
            <div><span class="input-group-addon">
                <i class="glyphicon glyphicon-search">   </i>
              </span></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
              </span>
              <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Búsqueda" title="Type in a name">
          </div>
          <table class="table table-bordered  table-hover table-striped" id="myTable" width="100%" name="myTable">
            <thead>
                <tr>
                    <th data-filterable="false">Nro</th>
                    <th data-breakpoints="xs sm">Código</th>
                    <th data-breakpoints="xs sm">Nombre</th>
                    <th data-breakpoints="xs sm">Descripcion</th>
                    <th data-breakpoints="xs sm">Marca</th>
                    <th data-breakpoints="xs sm">Categoria</th>
                    <th data-breakpoints="xs sm">Precio</th>
                    <th data-breakpoints="xs sm">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Ciclo para mostrar datos de la DB -->
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.codigo }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.marca }}</td>
                    <td>{{ producto.categoria }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>
                        <!-- Botones de opciones -->
                        <a href="{{ path('productos_show', {'id': producto.id}) }}" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span> Ver</a>
                        <a href="{{ path('productos_edit', {'id': producto.id}) }}" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
  function myFunction() {
    // Declare variables 
    var input, filter, table, tr, td, i, j, visible;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      visible = false;
      /* Obtenemos todas las celdas de la fila, no sólo la primera */
      td = tr[i].getElementsByTagName("td");
      for (j = 0; j < td.length; j++) {
        if (td[j] && td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
          visible = true;
      }
  }
  if (visible === true) {
    tr[i].style.display = "";
} else {
    tr[i].style.display = "none";
}
}
}
</script>
{% endblock %}
