{% extends 'base.html.twig' %}

{% block title %}Productos{% endblock %}

{% block body %}
<div class="container">
    <!-- Titulo y Menu -->
    <div class="row">
      <div class="col-md-12">
        <h1>Ver Productos</h1>
        <ol class="breadcrumb">
          <li><a href="">Inicio </a></li>/
          <li><a href="{{ path('productos_index') }}">Productos </a></li>/
          <li class="active">Listado de Productos/li>
        </ol>
      </div>
    </div>
    <!-- editar -->
    <div class="row">
      <div class="col-md-11">
        <span></span>
      </div>
      <div class="col-md-1">
        <a href="{{ path('productos_edit', {'id': producto.id}) }}" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
      </div>
    </div>
    <!-- Formulario -->
    <!-- Numero -->
    <div class="row">
      <div class="col-md-4">
        <label for="Nombre">Código:</label>
      </div>
      <div class="col-md-8">
        <label for="Nombre">{{ producto.codigo }}</label>
        <span class="help-block" id="error"></span>
      </div>
    </div>
    <!-- Nombre -->
    <div class="row">
      <div class="col-md-4">
        <label for="Nombre">Nombre:</label>
      </div>
      <div class="col-md-8">
        <label for="Nombre">{{ producto.nombre }}</label>
      </div>
    </div>
    <!-- Descripción -->
    <div class="row">
      <div class="col-md-4">
        <label for="Nombre">Descripción:</label>
      </div>
      <div class="col-md-8">
        <label for="Nombre">{{ producto.descripcion }}</label>
      </div>
    </div>
    <!-- Marca -->
    <div class="row">
      <div class="col-md-4">
        <label for="Nombre">Activo:</label>
      </div>
      <div class="col-md-8">
        <label for="Nombre">{{ producto.marca }}</label>
      </div>
    </div>
    <!-- categoria -->
    <div class="row">
        <div class="col-md-4">
          <label for="Nombre">Activo:</label>
        </div>
        <div class="col-md-8">
          <label for="Nombre">{{ producto.categoria }}</label>
        </div>
      </div>
    <!-- Precio -->
    <div class="row">
        <div class="col-md-4">
          <label for="Nombre">Activo:</label>
        </div>
        <div class="col-md-8">
          <label for="Nombre">{{ producto.precio }}</label>
        </div>
      </div>
    <!-- Botones -->
    <div class="row">
      <div class="col-md-8"> 
        {{ include('productos/_delete_form.html.twig') }}
      </div>
    </div>
  </div>
{% endblock %}
